* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
h1,
h2,
h3 {
  color: rgb(22, 21, 21);
}
.App {
  transition: all 0.5s ease;
}
.library-active {
  margin-left: 20%;
}
body {
  font-family: "Josefin Sans", sans-serif;
  background: rgba(255, 252, 243, 0.842);
}
h3,
h4 {
  font-weight: 400;
  color: rgb(88, 88, 88);
}
@import "./song";
@import "./player";
@import "./library";
@import "./nav";
